fastapi
uvicorn
pandas
python-dotenv
langchain
langchain-openai
langchain-community
langchain-groq
openai
langfuse
chromadb
sentence-transformers
openpyxl
twilio
httpx
# explicitly pin numpy to avoid incompatibility with pandas
numpy<1.24